$primaryColor: #269f58;
$secondaryColor: #ffffff;
$tertiaryColor: #323232;

@mixin text($color, $txt-trf, $fst, $fw, $fs) {
    color: $color;
    text-decoration: none;
    text-transform: $txt-trf;
    font-style: $fst;
    font-weight: $fw;
    font-size: $fs;
}


$vw-viewport: 1920;
@function get-vw($font) {
    $vw-context: $vw-viewport * 0.01 * 1px;
    @return $font / $vw-context * 1vw;
    @return $font;
}
.home__page{
    background: url(../../images/background-2.png) right top no-repeat, url(../../images/background-1.png) no-repeat; 
    width: 100%;
    height: 100%;
    background-size: contain;
    box-sizing: border-box;
    margin: 0;
    padding-top: 100px;
}

.hder{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 2em;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    transition: all .1s ease-out;

    .hder__menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-basis: 50%;
        .hder__logo{
            width: 137px;
            height: 58px;
            display: flex;
            flex-direction: row;
            flex-basis: 40%;
            justify-content: start;
        }
        .hder__nav{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-basis: 60%;
            a{
                @include text($tertiaryColor, lowercase, normal, 500, 14px);
                position: relative;
                transition: 300ms ease;
                &::before{
                    content: '';
                    display: block;
                    background-color: $primaryColor;
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    top: 120%;
                    left: 50%;
                    transition: 300ms ease;
                    opacity: 0;
                }
                &:hover::before{
                    opacity: 1;
                }
                &:hover{
                    color: $primaryColor;                    
                }
                i{
                    padding-right: 5px;
                }
            }
        }
    }
    .hder__phone{
        display: flex;
        flex-direction: row;
        align-items: center;
        transition: all .1s ease-out;
        padding: 0;
        a{
            padding-right: 15px;
            @include text($secondaryColor, lowercase, normal, 500, 14px);
            &.change_color{
                
            @include text($tertiaryColor, lowercase, normal, 500, 14px);
            }
            
        }
        i{
            padding: 7px;
            background-color: $secondaryColor;
            border-radius: 50%;
            color: $primaryColor;
            &.change_color{
                
            background-color: $primaryColor;
            color: $secondaryColor;
            }
        }
    }
    .change_color {
        transition: all .1s ease-out;
    }
}
.change_color {
    background-color:#fff;
}

/********************HOME**********************/
/********************HOME**********************/
/********************HOME**********************/


.home__text{
    padding: 85px 40px 110px 40px;
    h1{
        @include text($tertiaryColor, uppercase, normal, 700, 41px);
    }
    b{
        @include text($primaryColor, uppercase, normal, 700, 60px);
    }
    p{
        @include text($tertiaryColor, none, normal, 500, 14px);
        width: 400px;
    }
}

.home__form{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 40px;    
}

.button{
    height: 55px;
    width: 200px;
    background-color: $primaryColor;
    padding: 0 18px;
    border-radius: 5px;
    margin-top: 35px;
    border: 0;
    @include text($secondaryColor, lowercase, normal, 600, 16px);
    cursor: pointer;
}
.form__put-in{
    display: flex;
    flex-direction: row;
    .form__label{
        display: flex;
        flex-direction: column;
        padding-right: 40px;
        label{
            @include text($tertiaryColor, none, normal, 700, 14px);
            padding-bottom: 7px;
        }
        .fome__input{
            height: 55px;
            width: 250px;
            background-color: #f2f3f8;
            padding: 0 18px;
            border-radius: 5px;
            border: 0;
            border-color: $primaryColor;
            @include text($primaryColor, none, normal, 600, 16px);
            &::placeholder{
                @include text(#bebebe, none, normal, 600, 16px);
            }
            &:focus{
                //background-color: #608f8f;
                outline: 1px solid;
                outline-color: $primaryColor;
                border-color: $primaryColor;
            }
        }
    }
}



/*****************About Us******************/


// linear-gradient(70deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
.about-us{
    display: flex;
    flex-direction: row;
    padding: 80px 40px;
    height: 100%;
    margin-top: 100px;
    .about-us__section{
        flex-basis: 50%;
        background-image: url(../../images/about-us.png);
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 50px 50px;
        @include text($primaryColor, none, normal, 700, 36px);
        p{
            padding-top: 25px;
        }
    }
    .about-us__aside{
        flex-basis: 50%;
        padding-left: 20px;
        .about-us__list{
            display: flex;
            flex-direction: column;
            .about-us__point{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                .about-us__big-point{
                    background-color: $tertiaryColor;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    padding-right: 10px;
                }
                .about-us__icon{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    width: 70px;
                    padding: 0 50px;
                    box-sizing: border-box;
                    i{
                        font-size: 50px;
                        box-sizing: content-box;
                        color: $primaryColor;
                    }
                }
                p{
                    @include text($tertiaryColor, none, normal, 500, 14px);
                }
                
            }

            .about-us__bullets{
                .bullet{
                    width: 5px;
                    height: 5px;
                    background-color: $primaryColor;
                    border-radius: 50%;
                    margin-bottom: 15px;
                    box-sizing: border-box;
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

/******************************************/
/*****************************************/
/****************************************/
/**********Our Technologies*************/
/**************************************/
/*************************************/

.our-technologies {
    display: flex;
    flex-direction: row;
    height: 100vh;
    padding: 0 0 20px 40px;

    .our-technologies__section {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;

        h2 {
            @include text($primaryColor, none, normal, 700, 36px);
            text-align: center;
            padding-bottom: get-vw(70px);
        }

        .our-technologies__list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .technologies__logo {
                padding: 3vw;
                opacity: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                transition: 500ms ease;

                p {
                    opacity: 0;
                }

                img {
                    width: 5vw;
                }

                &.active {
                    opacity: 100%;
                    transform: scale(1.5);
                    padding: 1.5;

                    p {
                        opacity: 100%;
                        @include text($tertiaryColor, none, normal, 500, 16px);
                        padding-top: 10px;
                    }
                }
            }
        }
    }

    .our-technologies__aside {
        flex-basis: 50%;
        .technologies__info {
            background-image: url(../../images/our-technologies.png);
            background-repeat: no-repeat;
            background-size: 50%;
            background-position: right;
            background-color: $primaryColor;
            border-radius: 50px 0 0 50px;
            height: 80vh;
            white-space: pre-line;

            h2 {
                @include text($secondaryColor, none, normal, 500, 36px);
                text-align: center;
                padding: 36px 0 get-vw(70px) 0;
            }
            p {
                @include text($secondaryColor, none, normal, 400, 14px);
                padding: get-vw(70px) get-vw(200px) get-vw(100px) get-vw(70px);
            }
        }
    }
}

/******************************************/
/****************Contacts*****************/
/****************************************/

.contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-image: url(../../images/background-4.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 50px 0 50px 0;
    height: 100%;
    h2{
        @include text($primaryColor, none, normal, 700, 36px);
    }
    .contacts__info{
        display: flex;
        flex-direction: row;
        padding: 50px 50px 80px 50px;
        .contacts__block{
            padding-right:100px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .contacts__icon{
                background-color: $primaryColor;
                border-radius: 50%;
                color: $secondaryColor;
                width: 45px;
                height: 45px;
                margin-bottom: 10px;
                i {
                    padding-left: 12px;
                    padding-top: 12px;
                    font-size: 20px;
                  }
                  i[class="fas fa-map-marker"] {
                  padding-left: 15px;
                  padding-top: 12px;
                  font-size: 20px;
                  }
            }
            a{
                padding-left: 15px;
                @include text($tertiaryColor, none, normal, 400, 16px);
            }
        }
    }

    .contacts__links{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .contacts__sns{
            padding-right: 200px;
            a{
                padding-right: 20px;
                img{
                   width: 40px; 
                }
            }
        }
        .contacts__form{
            outline: solid #bebebe;
            outline-width: 1px;
            background-color: #fff;
            padding: 40px;
            form{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                .button{
                    &:hover{
                        box-shadow: inset 1px 2px 2px 1px rgba(0,0,0,0.1);
                    }
                }

            }
        }
    }
}

/*****************************/
/*****************************/
/**********FOOTER*************/
/*****************************/
/*****************************/

.fter{
    padding: 30px 20px 100px 40px;
    display: flex;
    flex-direction: row;
    background-color: $primaryColor;
    .fter__menu{
        display: flex;
        flex-direction: column;
        padding: 0 50px 0 120px;
        position: relative;
            .fter__nav{
                display: flex;
                flex-direction: row;
                align-items: center;
                
                .fter__logo{
                    padding-right: 50px;
                    img{
                        width: 137px;
                        height: 58px;
                    }
                }
                .fter__links{
                    a{
                        padding-right: 30px;
                        @include text($tertiaryColor, lowercase, none, 500, 14px);
                        transition: 300ms ease;
                        position: relative;
                        i{
                            color: $secondaryColor;
                        }
                        &::before{
                            content: '';
                            display: block;
                            background-color: $secondaryColor;
                            position: absolute;
                            width: 6px;
                            height: 6px;
                            border-radius: 50%;
                            top: 120%;
                            left: 30%;
                            transition: 300ms ease;
                            opacity: 0;
                        }
                        &:hover::before{
                            opacity: 1;
                        }
                        &:hover{
                            color: #fff;                    
                        }
                    }
                }
                
            }
    }
    .fter__info{
        .fter__block{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-bottom: 25px;
            p, a{
                padding-left: 15px;
                @include text($secondaryColor, none, normal, 500, 14px);
            }
            .fter__icon{
                background-color: $secondaryColor;
                border-radius: 50%;
                color: #fff;
                width: 45px;
                height: 45px;
                margin-bottom: 10px;
                i{
                    padding-left: 12px;
                    padding-top: 12px;
                    color: $primaryColor;
                    @include text($primaryColor, none, normal, 600, 20px);
                }
                i[class="fas fa-map-marker"] {
                    padding-left: 15px;
                    padding-top: 12px;
                    font-size: 20px;
                }
            }
        }
    }
    .fter__line{
        display: flex;
        flex-direction: column;
        .fter__anchor{
            position: absolute;
            left: 0;
            @include text($secondaryColor, none, normal, 700, 30px);
        }
        .fter__sns{
            position: absolute;
            right: 0;
            padding: 40px 50px 0 0;
            img{
                width: 30px;
                padding: 10px;
                box-sizing: content-box;
            }
        }
        .fter__copyright{
            position: absolute;
            bottom: -80px;
            p{
                @include text($tertiaryColor, none, normal, 700, 14px);
            }
        }
    }
}